* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 20px;
	min-height: 100vh;
	width: 600px;
	border: 1px solid gray;
	text-align: center;
}

.new-task {
	margin-top:20px ;
	display: flex;
	gap: 5%;
}

button {
	cursor: pointer;
	padding: 3px 8px;
}

/* Cтиль для каждой задачи */
.task-list {
	margin: 20px 0px;

	
}
/* стиль для выполненной задачи */
.task-done {
	text-decoration:line-through;
	color: #00000050;
}

/* cтиль для блока задач */
.style-task{
	display: flex;
	
}

/* стиль подсветка для пустого ввода */
.empty-input {
	border: 1px solid red;
}